@charset "UTF-8";

/* 
    em HTML é id = em CSS é # (só pode em um elemento)
    em HTML é class = em CSS é . (pode em vário elementos)
*/
body{
    background-color: rgba(137, 241, 255, 0.421);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
        background-color: rgb(18, 120, 120);
        color: white;
        text-align: center;
}

h1{
    color: rgba(20, 118, 118, 0.931);
}

h2{
    color: rgb(62, 211, 211);
}

p{
    text-align: justify;
}

.básico{
    color: rgb(62, 211, 211);
}

.intermediário{
    color: rgb(187, 194, 60);
}

.avançado{
    color: rgb(211, 79, 62);
}

.destaque{
    background-color: rgba(199, 196, 255, 0.567);
}