@charset "UTF-8";

@media screen and (min-width: 300px) and (max-width: 1000px){

    body {
        overflow: hidden;
    }
    .container {
        width: 420px;
        height: 496px;
        flex-direction: column;
        padding-top: 50px;
    }

    .container > .frase {
        width: 400px;
        height: 112px;
        text-align: center;
        margin: 0 auto 120px;
    }

    .container .frase br {
        display: none;
    }

    .container > .login {
        margin: auto;
    }

    .container > .frase > .letras {
        font-size: 24px;
        line-height: 28px;
    }
}
