@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height: 496px;
}

.frase {
    height: 298px;
    width: 548px;
    margin-right: 35px;
}

.frase img {
    height: 108px;
    margin: -28px;
}

.frase .letras {
    font-size: 28px;
    line-height: 32px;
    color: #1C1E21;
    padding-top: 17px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 396px;
    height: 496px;
}

.recurso {
    width: 396px;
    height: 350px;
    text-align: center;
    padding-top: 18px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.128);
    
}

 .container >.login > .recurso > label > input {
    width: 360px;
    height: 50px;
    margin-bottom: 12px;
    border-radius: 6px;
    padding-left: 15px;  
    border: 1px solid #DDDFE2;
    caret-color: #1B74E4;
}

label input::placeholder {
    font-size: 17px;
    color: #90949c;
}

.container > .login > .recurso > label > input:focus {
    box-shadow: 0.1px 0.1px 0px 2.5px #E7F3FF;
    outline: 0.6px solid #1B74E4;
}

label input:focus::placeholder {
    color: #bbbfc8;
}

.entrar {
    background-color: #1877F2;
    color: white;
    width: 360px;
    height: 48px;
    font-size: 22px;
    border-radius: 6px;
    font-weight: bold;
    
}

a {
    color: #188CF5;
    text-decoration: none;
    font-size: 14px;
    line-height: 18.8px;
}

a:hover {
    text-decoration: underline;
}

.link {
    margin-top: 16px;
}

.hr-container {
    text-align: center;
    margin: 20px 20px;
}

hr {
    width: 360px;
    border: 1px solid #DDDFE2;
}
.green {
    background-color: #42B72A;
    width: 160px;
    height: 48px;
    margin-top: 10px;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}

.green:hover {
    background-color: #36A420;
}

.final {
    text-align: center;
    font-size: 14px;
    line-height: 18.8px;
    color: #1C1E21;
    padding-top: 53px;
}
