@charset "UTF-8";

body{
    background-color: chartreuse;
}
h1{
    color: blueviolet;
    background-color: aqua;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: darkorchid;
    background-color: aqua;
}
p{
    color: darkgreen;
}

</style>